# `customer_verification` Submodule <a name="`customer_verification` Submodule" id="@cdk_utils/iam.customer_verification"></a>



## Classes <a name="Classes" id="Classes"></a>

### CustomerVerificationActions <a name="CustomerVerificationActions" id="@cdk_utils/iam.customer_verification.CustomerVerificationActions"></a>

IAM action constants for the customer-verification service.

#### Initializers <a name="Initializers" id="@cdk_utils/iam.customer_verification.CustomerVerificationActions.Initializer"></a>

```typescript
import { customer_verification } from '@cdk_utils/iam'

new customer_verification.CustomerVerificationActions()
```

| **Name** | **Type** | **Description** |
| --- | --- | --- |

---




#### Constants <a name="Constants" id="Constants"></a>

| **Name** | **Type** | **Description** |
| --- | --- | --- |
| <code><a href="#@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.actionGetCustomerVerificationDetails">actionGetCustomerVerificationDetails</a></code> | <code>string</code> | [Read] customer-verification:GetCustomerVerificationDetails. |
| <code><a href="#@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.actionGetCustomerVerificationEligibility">actionGetCustomerVerificationEligibility</a></code> | <code>string</code> | [Read] customer-verification:GetCustomerVerificationEligibility. |
| <code><a href="#@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.AllListActions">AllListActions</a></code> | <code>string[]</code> | All list-level actions. |
| <code><a href="#@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.AllPermissionManagementActions">AllPermissionManagementActions</a></code> | <code>string[]</code> | All permission-management-level actions. |
| <code><a href="#@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.AllReadActions">AllReadActions</a></code> | <code>string[]</code> | All read-level actions. |
| <code><a href="#@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.AllTaggingActions">AllTaggingActions</a></code> | <code>string[]</code> | All tagging-level actions. |
| <code><a href="#@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.AllWriteActions">AllWriteActions</a></code> | <code>string[]</code> | All write-level actions. |
| <code><a href="#@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.CreateCustomerVerificationDetails">CreateCustomerVerificationDetails</a></code> | <code>string</code> | [Write] customer-verification:CreateCustomerVerificationDetails. |
| <code><a href="#@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.CreateUploadUrls">CreateUploadUrls</a></code> | <code>string</code> | [Write] customer-verification:CreateUploadUrls. |
| <code><a href="#@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.SERVICE_PREFIX">SERVICE_PREFIX</a></code> | <code>string</code> | The IAM service prefix. |
| <code><a href="#@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.UpdateCustomerVerificationDetails">UpdateCustomerVerificationDetails</a></code> | <code>string</code> | [Write] customer-verification:UpdateCustomerVerificationDetails. |

---

##### `actionGetCustomerVerificationDetails`<sup>Required</sup> <a name="actionGetCustomerVerificationDetails" id="@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.actionGetCustomerVerificationDetails"></a>

```typescript
public readonly actionGetCustomerVerificationDetails: string;
```

- *Type:* string

[Read] customer-verification:GetCustomerVerificationDetails.

---

##### `actionGetCustomerVerificationEligibility`<sup>Required</sup> <a name="actionGetCustomerVerificationEligibility" id="@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.actionGetCustomerVerificationEligibility"></a>

```typescript
public readonly actionGetCustomerVerificationEligibility: string;
```

- *Type:* string

[Read] customer-verification:GetCustomerVerificationEligibility.

---

##### `AllListActions`<sup>Required</sup> <a name="AllListActions" id="@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.AllListActions"></a>

```typescript
public readonly AllListActions: string[];
```

- *Type:* string[]

All list-level actions.

---

##### `AllPermissionManagementActions`<sup>Required</sup> <a name="AllPermissionManagementActions" id="@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.AllPermissionManagementActions"></a>

```typescript
public readonly AllPermissionManagementActions: string[];
```

- *Type:* string[]

All permission-management-level actions.

---

##### `AllReadActions`<sup>Required</sup> <a name="AllReadActions" id="@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.AllReadActions"></a>

```typescript
public readonly AllReadActions: string[];
```

- *Type:* string[]

All read-level actions.

---

##### `AllTaggingActions`<sup>Required</sup> <a name="AllTaggingActions" id="@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.AllTaggingActions"></a>

```typescript
public readonly AllTaggingActions: string[];
```

- *Type:* string[]

All tagging-level actions.

---

##### `AllWriteActions`<sup>Required</sup> <a name="AllWriteActions" id="@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.AllWriteActions"></a>

```typescript
public readonly AllWriteActions: string[];
```

- *Type:* string[]

All write-level actions.

---

##### `CreateCustomerVerificationDetails`<sup>Required</sup> <a name="CreateCustomerVerificationDetails" id="@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.CreateCustomerVerificationDetails"></a>

```typescript
public readonly CreateCustomerVerificationDetails: string;
```

- *Type:* string

[Write] customer-verification:CreateCustomerVerificationDetails.

---

##### `CreateUploadUrls`<sup>Required</sup> <a name="CreateUploadUrls" id="@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.CreateUploadUrls"></a>

```typescript
public readonly CreateUploadUrls: string;
```

- *Type:* string

[Write] customer-verification:CreateUploadUrls.

---

##### `SERVICE_PREFIX`<sup>Required</sup> <a name="SERVICE_PREFIX" id="@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.SERVICE_PREFIX"></a>

```typescript
public readonly SERVICE_PREFIX: string;
```

- *Type:* string

The IAM service prefix.

---

##### `UpdateCustomerVerificationDetails`<sup>Required</sup> <a name="UpdateCustomerVerificationDetails" id="@cdk_utils/iam.customer_verification.CustomerVerificationActions.property.UpdateCustomerVerificationDetails"></a>

```typescript
public readonly UpdateCustomerVerificationDetails: string;
```

- *Type:* string

[Write] customer-verification:UpdateCustomerVerificationDetails.

---


